# System and editor directories
.DS_Store
.idea/

# Dataset
dataset/data/

# Result
results/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Development files
*.ipynb
